.header {

  margin-top: 10px;
  .toolbar {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    .input {
      height: 25px;
    }
  }
  .page-title {
    background-color: $lemonCode;
    padding: 10px;
    color: $title-color;
    font-weight: bold;
  }
}
