//font
$font-family: 'Montserrat', sans-serif;
//font color
$title-color: beige;

//colors
$lemonCode: rgb(182, 235, 76);
$background-green: rgb(61, 132, 65);
$background-white: white;
$backgorund-footer: beige;